@model PracticaIIICO.BD.sp_Retorna_ProveedorID_Result
@{
    ViewBag.Title = "ModificaProveedor";
}

<h2>Modifica Proveedor</h2>

<form id="frmModifcaProveedor" method="post">

    <div class="form-group">
        <label>ID Proveedor:</label>
        <input type="number" name="ID_Proveedor" id="ID_Proveedor" class="form-control" value="@Model.ID_Proveedor" readonly />
    </div>
    <div class="form-group">
        <label>Nombre Proveedor:</label>
        <input type="text" name="Nombre_PROV" id="Nombre_PROV" class="form-control" value="@Model.Nombre_PROV" />
    </div>
    <div class="form-group">
        <label>Direccion Proveedor:</label>
        <input type="text" name="Direccion_PROV" id="Direccion_PROV" class="form-control" value="@Model.Direccion_PROV" />
    </div>
    <div class="form-group">
        <label>Correo Proveedor:</label>
        <input type="email" name="Correo_PROV" id="Correo_PROV" class="form-control" value="@Model.Correo_PROV" />
    </div>
    <div class="form-group">
        <label>Telefono Proveedor:</label>
        <input type="number" name="Telefono_PROV" id="Telefono_PROV" class="form-control" value="@Model.Telefono_PROV" />
    </div>

    <div class="form-group">
        <label>Estado:</label>
        @{
            if (Model.Estado_PROV)
            {
                <input type="checkbox" name="Estado_PROV" value="true" id="Estado_PROV" class="form-check-input" checked />
            }
            else
            {
                <input type="checkbox" name="Estado_PROV" value="true" id="Estado_PROV" class="form-check-input" />
            }

        }
    </div>
    <div class="form-group">
        <input type="submit" value="Modificar" id="btnAgregar" class="btn btn-success" />
    </div>
</form>
<a href="~/Proveedores/ListaProveedores" class="btn btn-primary">Lista Proveedores</a>

