
@{
    ViewBag.Title = "MostrarDetCot";
}


<h3>Detalle Cotizacion #@ViewBag.NumeroCotizacion</h3>


<div class="" style="position: relative; max-height: 300px; overflow: auto; display: block; ">


    <table id="myTable" class="table table-hover table-bordered table-success table-striped" style="overflow:auto;">
        <thead>
            <tr>
                <th scope="col"># Detalle</th>
                <th scope="col">Producto</th>
                <th scope="col">Servicio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Monto</th>
                <th scope="col">Eliminar</th>
            </tr>
        </thead>
        <tbody class="">
            @{
                foreach (PracticaIIICO.BD.sp_Retorna_DetalleCotID_Result PosicionDetalle in this.Model)
                {
                    <tr>

                        <td>@PosicionDetalle.ID_DetalleCotizar</td>

                        @{

                            foreach (PracticaIIICO.BD.sp_Retorna_Productos_Result ModeloPRD in this.ViewBag.ListaProductos)
                            {
                                bool esIdUser = ModeloPRD.ID_Producto == PosicionDetalle.ID_Producto;
                                if (esIdUser)
                                {
                                    <td>@ModeloPRD.Nombre_PROD</td>
                                }
                            }

                        }
                        @{

                            foreach (PracticaIIICO.BD.sp_Retorna_Servicio_Result ModeloSERV in this.ViewBag.ListaServicios)
                            {
                                bool esIdUser = ModeloSERV.ID_Servicio == PosicionDetalle.ID_Servicio;
                                if (esIdUser)
                                {
                                    <td>@ModeloSERV.Nombre_Servicio</td>
                                }
                            }

                        }


                        <td>@PosicionDetalle.Cant_AdquiPROD</td>
                        <td>@PosicionDetalle.PrecioXCant</td>
                        <td style="text-align:center"><a href="#" id="detalleCot_@PosicionDetalle.ID_DetalleCotizar" onclick="eliminarDetalle(@PosicionDetalle.ID_DetalleCotizar)" data-bs-target="#ModalEliminarDetCot" data-bs-toggle="modal" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>

                    </tr>
                }
            }
        </tbody>
    </table>

</div>
<div>
    <div class="row">
        <div class='col'>
            Base Imponible <br />
            <span>Descuento</span>
            <br>IVA 13%<br>
            <span class="bold">Total</span>
        </div>
        @{
            foreach (PracticaIIICO.BD.sp_Retorna_CotizacionID_Result PosicionCotizacion in this.ViewBag.ListaCotizaciones)
            {
                <div class='col'>
                    <div class="base">@PosicionCotizacion.Costo</div>
                    <div class="descuento">0</div>

                    @{
                        double a = Convert.ToDouble(PosicionCotizacion.Costo);
                        double iva = a * 0.13;
                        double costoFinalVista = a + iva;
                        <div class="iva">
                            @iva
                        </div>
                    }

                    <div class="">@costoFinalVista</div>
                </div>
            }
        }
    </div>
</div>
<br />
<a href="~/Cotizacion/ListaCotizacion" class="btn btn-primary">Ver Lista</a>
<a href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalAgregaDetCot">Agregar</a>
<a class="btn btn-primary" id="refrescar"><i class="fas fa-sync-alt"></i></a>


<!---->
<!--Modal De Registro-->
<div class="modal" id="ModalAgregaDetCot" data-bs-backdrop="static" tabindex="-1" aria-labelledby="tituloID" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloID">Pantalla De Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-control" id="frmRegistroDetCotModal">
                    <div class="row">

                        <div class="col">
                            <label>ID Cotizacion</label>
                            <input class="form-control" id="pIdCotizacion" name="pIdCotizacion" type="number" value="@ViewBag.NumeroCotizacion" readonly />
                        </div>
                        <div class="col">
                            <label>Producto:</label>
                            <select name="pIdProducto" id="pIdProducto" class="form-control">
                                @{
                                    foreach (PracticaIIICO.BD.sp_Retorna_Productos_Result ModeloPROD in this.ViewBag.ListaProductos)
                                    {
                                        <option value="@ModeloPROD.ID_Producto">@ModeloPROD.Nombre_PROD </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Servicio:</label>
                        <select name="pIdServicio" id="pIdServicio" class="form-control">
                            @{

                                foreach (PracticaIIICO.BD.sp_Retorna_Servicio_Result ModeloSERV in this.ViewBag.ListaServicios)
                                {
                                    <option value="@ModeloSERV.ID_Servicio">@ModeloSERV.Nombre_Servicio </option>
                                }

                            }
                        </select>
                    </div>
                    <div class="row ">
                        <div class="col">
                            <label class="col-form-label">Cantidad</label>
                            <input type="number" class="form-control" id="pCantidad" name="pCantidad" />
                        </div>
                        <div class="col">
                            <label class="col-form-label">Precio Por Cantidad</label>
                            <input type="number" id="pPrecioCant" name="pPrecioCant" class="form-control">
                        </div>
                    </div>

                </form>

                <div class="row g-3 align-items-center">

                </div>
            </div>
            <div class="modal-footer">
                <a href="~/DetalleCotizacion/AgregaDetCot?id_Cot=@ViewBag.NumeroCotizacion" class="btn btn-success">Ampliar</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="registrar" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin-->
<!--Modal De Registro-->
<div class="modal" id="ModalEliminarDetCot" data-bs-backdrop="static" tabindex="-1" aria-labelledby="tituloID" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloID">Eliminar Detalle!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 style="text-align:center">Esta Seguro Que Desea Eliminar El Articulo?</h4>

                <form method="post" class="form-control" id="frmBorrarDetCot">
                    <div class="row">

                        <div class="col">
                            <label>Cotizacion #</label>
                            <input class="form-control" id="pEliminaCotizacion" name="pIdCotizacion" type="number" value="@ViewBag.NumeroCotizacion" readonly />
                        </div>

                        <div class="col">
                            <label>ID Detalle</label>
                            <input class="form-control" id="pEliminaIdDetalleCot" name="pIdCotizacion" type="number" readonly />
                        </div>

                    </div>

                </form>

                <div class="row g-3 align-items-center">

                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="EliminarDetCot" type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div id="ModalRegistroEntrada"></div>

@section scripts{

    <script src="~/Scripts/Cotizacion/RegistroDetCot.js"></script>
    <script src="~/Scripts/Recargar.js"></script>
}
