@model PracticaIIICO.ViewModels.ViewAjustesModel
@{
    ViewBag.Title = "ListAjustes";
}

@section css{
    <link href="~/Content/Table/TableChz.css" rel="stylesheet" />
}

@if (ViewBag.MensajeStock != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.MensajeStock
    </div>
}

<div id="ContenedorDatos">
    <div class="CabeceraTable">
        <h2>Lista Ajustes</h2>
        <br />
        <a href="~/Home/Index" class="btn btn-success">Pagina Inicial</a>
        <br />
    </div>
    <table id="myTable" class="table table-hover table-bordered table-success table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Producto</th>
                <th scope="col">Usuario</th>
                <th scope="col">Tipo</th>

                <th scope="col">Acciones</th>

            </tr>
        </thead>
        <tbody>
            @{
                foreach (PracticaIIICO.BD.sp_Retorna_Ajustes_Result PosicionAjuste in Model.ListaAjustes)
                {
                    <tr>

                        <td>@PosicionAjuste.ID_Ajuste</td>

                        @{
                            foreach (PracticaIIICO.BD.sp_Retorna_Productos_Result ModeloPROD in this.ViewBag.ListaProductos)
                            {
                                bool esIdPROD = ModeloPROD.ID_Producto == PosicionAjuste.ID_Producto;
                                if (esIdPROD)
                                {
                                    <td>@ModeloPROD.Nombre_PROD</td>
                                }
                            }
                        }
                        @{
                            foreach (PracticaIIICO.BD.sp_Retorna_Usuario_Result ModeloUSER in this.ViewBag.ListaUsuarios)
                            {
                                bool esIdUSER = ModeloUSER.ID_Usuario == PosicionAjuste.ID_Usuario;
                                if (esIdUSER)
                                {
                                    <td>@ModeloUSER.Nombre_U</td>
                                }
                            }
                        }


                        <td>@PosicionAjuste.Tipo_Ajuste</td>

                        <td>
                            <a href="~/Ajustes/ModificaAjuste?id_Aju=@PosicionAjuste.ID_Ajuste" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                            <a href="~/Ajustes/MostrarAjuste?id_Aju=@PosicionAjuste.ID_Ajuste" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="PieTable">
        <!--Paginador-->
        @{ Html.RenderPartial("_paginador", Model);}
        <!---->
        <a href="~/Ajustes/NuevoAjuste" class="btn btn-success">Nuevo</a>
        <a class="btn btn-primary" id="refrescar"><i class="fas fa-sync-alt"></i></a>
        <a href="" data-bs-toggle="modal" data-bs-target="#ModalAjustes">Nuevo</a>
    </div>

</div>

<!--Modal Registro Ajuste-->
<!--Modal De Registro-->
<div class="modal" id="ModalAjustes" data-bs-backdrop="static" tabindex="-1" aria-labelledby="tituloID" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloID">Pantalla De Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-control" id="frmRegistroAjusteModal">
                    <div class="row ">
                        <label class="col-form-label">Producto</label>
                        <div class="col-12">
                            <select id="pIdProducto" name="pIdProducto" class="form-control">
                                @{

                                    foreach (PracticaIIICO.BD.sp_Retorna_Productos_Result ModeloPROD in this.ViewBag.ListaProductos)
                                    {
                                        <option value="@ModeloPROD.ID_Producto">@ModeloPROD.Nombre_PROD </option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="row ">
                        <label class="col-form-label">Usuario</label>
                        <div class="col-12">
                            <select id="pIdUsuario" name="pIdUsuario" class="form-control">
                                @{

                                    foreach (PracticaIIICO.BD.sp_Retorna_UsuarioID_Result ModeloUSER in this.ViewBag.ListaUsuarioID)
                                    {
                                        <option value="@ModeloUSER.ID_Usuario">@ModeloUSER.Nombre_U </option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label">Tipo Ajuste</label>
                        <div>
                            <select name="pTipoAjuste" id="pTipoAjuste" class="form-control">
                                <option value="Entrada">Entrada</option>
                                <option value="Salida">Salida</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label">Cantidad Ajustar:</label>
                        <div>
                            <input type="number" class="form-control" id="pCantAjustar" name="pCantAjustar" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label">Descripcion Del Ajuste</label>
                        <div>
                            <input type="text" class="form-control" id="pDescripAjuste" name="pDescripAjuste" />
                        </div>
                    </div>

                </form>

                <div class="row g-3 align-items-center">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="registrar" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin-->

<div id="ModalRegistroCotizacion"></div>


@section scripts{
    <script src="~/Scripts/Ajustes/RegistroAjustes.js"></script>
    <script src="~/Scripts/Recargar.js"></script>
}


