
@model PracticaIIICO.Models.SesionModel
@{
    ViewBag.Title = "Iniciar";
    Layout = "~/Views/Shared/_Sesion.cshtml";


    //Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/Content/Sesion/loginFinal.css" rel="stylesheet" />
}
<h2 style="text-align:center">Bienvenido Al Sistema</h2>
<h3 style="text-align:center">Repuestos Y Llantera Mako</h3>
<!--<div id="alertRoja" class="alert alert-danger align-items-center"
     style="display: none; flex-direction: row;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
         class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
         aria-label="Warning:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <div id="mensajeAlertaRoja">
        <!--Mensaje de Erro Va Aqui

    </div>

</div>-->
<div class="danger">
    @ViewBag.Error
</div>
@*using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-6 form-group">
                @Html.LabelFor(m => m.NombreUsuario)
                @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-6 form-group">
                @Html.LabelFor(m => m.Clave)
                @Html.TextBoxFor(m => m.Clave, new { @type = "password", @class = "form-control", @style = "background:white" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12">
                <input id="btnIniciar" type="submit" class="btn btn-success" value="Iniciar" />
            </div>
        </div>
    }*@
<!--Login 2-->


<div id="loginPrueba" class="container">
    <section id="content">
        @using (Html.BeginForm())
        {
            <h1>Iniciar <br />Sesion</h1>
            <div>
                @Html.TextBoxFor(m => m.NombreUsuario, new { @class = "form-login", @id = "username" })

            </div>
            <div>
                @Html.TextBoxFor(m => m.Clave, new { @type = "password", @class = "form-login", @id = "password" })

            </div>
            <div>
                <input id="btnIniciar" type="submit" class="btn btn-success" value="Iniciar" />
                <a href="" data-bs-toggle="modal" data-bs-target="#RecuperacionClave">Olvido Clave?</a>
                <a href="" data-bs-toggle="modal" data-bs-target="#ModalChuz">Registrarse!</a>
            </div>
        }
        <!-- form -->
        <div class="button">
            <a href="#"></a>
        </div><!-- button -->
    </section><!-- content -->
</div><!-- container -->
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable">
    Registrar
</button>-->
<!-- Modal -->
<div class="modal" id="ModalChuz" data-bs-backdrop="static" tabindex="-1" aria-labelledby="tituloID" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloID">Pantalla De Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-control" id="frmRegistroInicio">
                    <div class="row">
                        <label class="col-form-label">Nombre</label>
                        <div class="col">
                            <input type="text" class="form-control" name="Nombre_U" id="Nombre_U" placeholder="Nombre">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="Apellido1_U" id="Apellido1_U" placeholder="Primer Apellido">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="Apellido2_U" id="Apellido2_U" placeholder="Segundo Apellido">
                        </div>
                    </div>

                    <div class="row ">
                        <label class="col-form-label">Correo</label>
                        <div class="col-12">
                            <input type="email" name="Correo_U" class="form-control" id="Correo_U">
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label">Cedula</label>
                        <div>
                            <input type="text" name="Cedula_U" class="form-control" id="Cedula_U" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label">Contraseña</label>
                            <input type="password" id="contrasenaVal1" name="contrasenaVal1" class="form-control">
                        </div>
                        <div class="col">
                            <label class="col-form-label">Confirme Contraseña</label>
                            <input type="password" id="contrasenaVal" name="contrasenaVal" class="form-control">
                        </div>
                    </div>
                </form>

                <div class="row g-3 align-items-center">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="registrar" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div id="messageRegistrarse"></div>
<div id="messageRecuperacion"></div>

<!-- Button trigger modal -->
<!--
<button type="button" class="btn btn-primary" id="btnAbrirModal">
    Launch demo modal
</button>Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="RecuperacionClave" tabindex="-1" aria-labelledby="tituloRecuperacion" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloRecuperacion">Recupera Tu Clave</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h1>Confirme Tus Datos</h1>
                <form method="post" class="form-control" id="frmRecuperacion">
                    <div class="row">
                        <label class="col-form-label">Su Nombre Usuario:</label>
                        <input type="text" class="form-control" name="NombreUsuario" id="NombreUsuario" placeholder="Nombre Usuario">
                    </div>
                    <div class="row">
                        <label class="col-form-label">Su Correo:</label>
                        <input type="email" class="form-control" name="CorreoUsuario" id="CorreoUsuario" placeholder="Correo Usuario">
                    </div>
                </form>
                <!--
                 <button type="button" class="btn btn-secondary" id="btnCerrarModal">
                     Cerrar Modal
                 </button>
                -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnRecuperar">Recuperar</button>
            </div>
        </div>
    </div>
</div>

@{
    if (ViewBag.Error != null)
    {
        string mensaje = ViewBag.Error.ToString();
        @Html.Partial("_ModalMensaje", new ViewDataDictionary
        {
       { "MensajeModal", mensaje }})
    }

}



@section scripts{
    <script src="~/Scripts/Sesion/InicioSesion.js"></script>
    <script src="~/Scripts/Sesion/llamarModal.js"></script>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/Sesion/Registrarse.js"></script>

    <script src="~/Scripts/Sesion/RecuperacionClave.js"></script>
    <script src="~/Scripts/ValidacionesMensajes.js"></script>
    <script src="~/Scripts/scriptGenerico.js"></script>
}