@model PracticaIIICO.ViewModels.ViewImagenesModel
@{
    ViewBag.Title = "CatalogoProductos";
}

@section css{
    <link href="~/Content/Card/Card.css" rel="stylesheet" />
}
<h2>Catalogo Productos</h2>
<a href="~/Productos/ListaProductos" class="btn btn-success">Home</a>
<div class="containerCard scroll_horizontal scroll_vertical">
    @foreach (PracticaIIICO.BD.sp_Retorna_ProductsImages_Result ModeloPosicion in Model.ModeloImagensPROD)
    {


        <!--Card-->
        <div class="card">
            <div class="card-head">
                <div class="TituloCard">

                    <h4>@ModeloPosicion.Nombre_PROD</h4>
                </div>


                <div class="product-detail">

                </div> <div class="pictureSize">
                    <img src="@ModeloPosicion.Url_Imagen" alt="Shoe" class="product-img">
                </div>

                <!--<span class="back-text">
                    CHUZ
                </span>-->
            </div>
            <div class="card-body">
                <div class="product-desc">
                    <span class="product-title">
                        CANT.<br /><b>@ModeloPosicion.Cantidad_PROD</b>
                        <span class="badge">
                            STOCK
                        </span>
                    </span>
                    <span class="product-caption">
                        @ModeloPosicion.Descripcion_PROD
                    </span>
                    <span class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star grey"></i>
                    </span>
                </div>
                <div class="product-properties">


                    <span class="product-price">
                        CRC<b>@ModeloPosicion.Precio_PROD</b>
                    </span>
                </div>
            </div>
        </div>
        <!--Fin Card-->
    }

</div>

<!--Paginador-->
@{ Html.RenderPartial("_paginador", Model);}
<!---->
