

@{
    ViewBag.Title = "GenerarReporte";
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index2</title>
    <link href="~/Content/Boostrap_5/css/bootstrap.css" rel="stylesheet" />
    <style type="text/css" media="print">
        #imprimirbtn {
            display: none
        }
    </style>
</head>
<body>



    <div id="ticket" class="ticket_body" style="margin-left:6%;margin-right:6%;">
        <h2 style="text-align:center;">Reporte Salidas</h2>
        <div class="area_print">
            <div class="row">
                <div class="col" style="margin:2px 5px 2px 5px ;padding-right:100px; padding-left:10px;">
                    <div style="border: groove; border-width: 0.1rem; border-color: black; border-radius:10px ;font-size:10px;">
                        <div style="text-align:center">
                            <b>MOTO REPUESTOS Y LLANTERA MAKO</b>
                        </div>
                        <div style="text-align:center">
                            <b>MARCO MARTINEZ MENA</b>
                        </div>
                        <div style="text-align:center">112630999</div>
                        <div style="text-align:center">QUITIRRISI DE MORA,50 OESTE DEL GIMNASIO</div>
                        <div style="text-align:center">TELEFONO: 84173048</div>
                    </div>

                </div>
                <div class="col" style="padding:10px;">
                    <div class="report-encabezado" style="width:153px;height:65px;margin-left:30%">
                        <img style="width:100%" src="~/Images/LogoSinFondo.png">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col" style="font-size:10px">
                    @{
                        foreach (PracticaIIICO.BD.sp_Retorna_SalidaID_Result Posicion in this.ViewBag.ListaSalidas)
                        {

                            <div class="cliente_text">FECHA:@Posicion.Fecha_Registro.ToShortDateString() </div>
                            foreach (PracticaIIICO.BD.sp_Retorna_Usuario_Result ModeloUSER in this.ViewBag.ListaUsuarios)
                            {
                                bool esIdUser = ModeloUSER.ID_Usuario == Posicion.ID_Usuario;
                                if (esIdUser)
                                {
                                    <div class="cliente_text">USUARIO:<b>@ModeloUSER.Nombre_U.ToUpper() @ModeloUSER.Apellido1_U.ToUpper()</b></div>
                                    <div class="cliente_text">CED:@ModeloUSER.Cedula_U</div>
                                }
                            }
                            <div class="cliente_text">Numero Orden: @ViewBag.NumeroDetalleSal</div>
                        }
                    }
                </div>
                <div class="col">

                </div>
            </div>
            <div style="border:groove; border-color:black; border-width:0.1rem"></div>
            <table class="table" style="font-size:12px;">
                <thead>

                    <tr>

                        <th class="text-center">PRODUCTO.</th>

                        <th class="text-center">CANT.</th>

                    </tr>

                </thead>

                <tbody>

                    @{
                        foreach (PracticaIIICO.BD.sp_Retorna_DetalleFacturaSalida_Result PosicionDetalle in this.Model)
                        {
                            <tr>

                                @foreach (PracticaIIICO.BD.sp_Retorna_Productos_Result ModeloPROD in this.ViewBag.ListaProductos)
                                {
                                    bool esIdUser = ModeloPROD.ID_Producto == PosicionDetalle.ID_Producto;
                                    if (esIdUser)
                                    {
                                        <td class="cliente_text">@ModeloPROD.Nombre_PROD.ToUpper()</td>

                                    }
                                }

                                <td class="text-center">@PosicionDetalle.Cant_Salida_PROD</td>

                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div style="padding-left: 75%; border-top-color: initial; border-top-style: solid; border-top-width: 1px;">
                <table>

                    <tfoot class="tfootChuz">
                        @{
                            int a = 0;
                            foreach (PracticaIIICO.BD.sp_Retorna_DetalleFacturaSalida_Result PosicionDetalle in this.Model)
                            {

                                a = a+PosicionDetalle.Cant_Salida_PROD;

                            }
                            <tr>
                                <td colspan="4" class="text-right2">
                                    <b>CANT. Total De Productos </b>

                                </td>
                                <td class="textMontos">
                                    <b> @a</b>
                                </td>
                            </tr>

                        }
                    </tfoot>
                </table>
            </div>


            <div>Atendio:Marco Martinez Mena</div>
            <hr>

            <hr>

            <div style="text-align:center;font-size:10px;">
                <p>*** PARA EFECTOS DE GARANTIA SE DEBE PRESENTAR EL # REPORTE FISICA Y ORIGINAL ***</p>

                <br />
                GRACIAS
            </div>

        </div>
    </div>

</body>
</html>

