
@{
    ViewBag.Title = "NuevaSalida";
}

<h2>Nueva Salida</h2>

<form id="frmRegistroSalida" method="post">
    @if (ViewBag.UsuarioActual == "Empleado")
    {
        <div class="form-group">
            <label>Usuario:</label>
            <select name="ID_Usuario" id="ID_Usuario" class="form-control">
                @{

                    foreach (PracticaIIICO.BD.sp_Retorna_UsuarioID_Result ModeloUSER in this.ViewBag.ListaUsuariosID)
                    {
                        <option value="@ModeloUSER.ID_Usuario">@ModeloUSER.Nombre_U @ModeloUSER.Apellido1_U</option>
                    }

                }
            </select>
        </div>
    }
    else
    {
        <div class="form-group">
            <label>Usuario:</label>
            <select name="ID_Usuario" id="ID_Usuario" class="form-control">
                @{

                    foreach (PracticaIIICO.BD.sp_Retorna_Usuario_Result ModeloUSER in this.ViewBag.ListaUsuarios)
                    {
                        <option value="@ModeloUSER.ID_Usuario">@ModeloUSER.Nombre_U @ModeloUSER.Apellido1_U</option>
                    }

                }
            </select>
        </div>
    }

    <div class="form-group">
        <label>Fecha Factura:</label>
        <input type="date" name="Fecha_Registro" id="Fecha_Registro" class="form-control" readonly />
    </div>


    <div class="form-group">
        <label>Hora Actual:</label>
        <input type="time" name="Hora_Orden" id="Hora_Orden" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Agregar" id="btnAgregar" class="btn btn-success" />
    </div>
</form>
<br />
<a href="~/Salidas/ListaSalidas" class="btn btn-primary">Ver Lista</a>
