@model PracticaIIICO.ViewModels.ViewEntradasModel
@{
    ViewBag.Title = "ListaEntradas";
}
@section css{
    <link href="~/Content/Table/TableChz.css" rel="stylesheet" />
}

<div id="ContenedorP">
    <div class="CabeceraTable">
        <h2 style="text-align:center">Lista Entradas</h2>
        <a href="~/Home/Index" class="btn btn-success">Pagina Inicial</a>
        <br />
        <br />
    </div>
    <table id="myTable" class="table table-hover table-bordered table-success table-striped">
        <thead>
            <tr>
                <th scope="col"># Entrada</th>
                <th scope="col">Usuario</th>
                <th scope="col">Fecha Factura</th>
                <th scope="col">Monto</th>

                <th scope="col">Acciones</th>
                <th scope="col">Detalle</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (PracticaIIICO.BD.sp_Retorna_Entradas_Result PosicionEntradas in Model.ListaEntradas)
                {
                    <tr>

                        <td>@PosicionEntradas.ID_Entrada</td>

                        @{

                            foreach (PracticaIIICO.BD.sp_Retorna_Usuario_Result ModeloUSER in this.ViewBag.ListaUsuarios)
                            {
                                bool esIdUser = ModeloUSER.ID_Usuario == PosicionEntradas.ID_Usuario;
                                if (esIdUser)
                                {
                                    <td>@ModeloUSER.Nombre_U</td>
                                }
                            }

                        }



                        <td>@PosicionEntradas.Fecha_Factura.ToShortDateString()</td>
                        <td>@PosicionEntradas.Monto_Final</td>

                        <td>
                            <a href="~/Entradas/ModificaEntrada?id_Entr=@PosicionEntradas.ID_Entrada" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                            <a href="~/Entradas/MostrarEntrada?id_Entr=@PosicionEntradas.ID_Entrada" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                            <a href="#" class="btn btn-secondary"><i class="fa fa-print"></i></a>
                        </td>
                        <td>
                            <a href="~/DetalleEntradas/MostrarDetEntr?id_Entr=@PosicionEntradas.ID_Entrada" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                            <a href="~/DetalleEntradas/AgregaDetEntr?id_Entr=@PosicionEntradas.ID_Entrada" class="btn btn-success"><i class="fas fa-plus"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="PieTable">
        <!--Paginador-->
        @{ Html.RenderPartial("_paginador", Model);}
        <!---->
        <a href="~/Entradas/NuevaEntrada" class="btn btn-success">Nuevo</a>
        <a class="btn btn-primary" id="refrescar"><i class="fas fa-sync-alt"></i></a>
        <a href="" data-bs-toggle="modal" data-bs-target="#ModalEntradas">Nuevo</a>
    </div>
</div>
<!---->
<!--Modal De Registro-->
<div class="modal" id="ModalEntradas" data-bs-backdrop="static" tabindex="-1" aria-labelledby="tituloID" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloID">Pantalla De Registro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" class="form-control" id="frmRegistroEntradaModal">
                    <div class="row">
                        <label class="col-form-label">Proveedor</label>
                        <div class="col">
                            <select id="pIdProveedor" name="pIdProveedor" class="form-control">
                                @{

                                    foreach (PracticaIIICO.BD.sp_Retorna_Proveedores_Result ModeloProv in this.ViewBag.ListaProveedores)
                                    {
                                        <option value="@ModeloProv.ID_Proveedor">@ModeloProv.Nombre_PROV </option>
                                    }



                                }
                            </select>

                        </div>
                    </div>

                    <div class="row ">
                        <label class="col-form-label">Usuario</label>
                        <div class="col-12">
                            <select id="pIdUsuario" name="pIdUsuario" class="form-control">
                                @{

                                    foreach (PracticaIIICO.BD.sp_Retorna_UsuarioID_Result ModeloUSER in this.ViewBag.ListaUsuariosID)
                                    {
                                        <option value="@ModeloUSER.ID_Usuario">@ModeloUSER.Nombre_U </option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-form-label">Factura</label>
                        <div>
                            <input type="text" class="form-control" id="pNumFactura" name="pNumFactura" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label">Fecha</label>
                            <input type="date" id="FechaP" name="FechaP" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label">Monto Bruto</label>
                            <input type="text" id="pMontoBruto" name="pMontoBruto" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label class="col-form-label">Descuento</label>
                            <input type="text" id="pDescuento" name="pDescuento" class="form-control">
                        </div>
                    </div>
                </form>

                <div class="row g-3 align-items-center">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="registrar" type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!--Fin-->

<div id="ModalRegistroEntrada"></div>

@section scripts{
    <script src="~/Scripts/Entradas/RegistroEntrada.js"></script>
    <script src="~/Scripts/Recargar.js"></script>
}