
@{
    ViewBag.Title = "MostrarEntrada";
}

@{
    foreach (PracticaIIICO.BD.sp_Retorna_EntradaID_Result Posicion in this.ViewBag.ListaEntradas)
    {
        <h3>Factura #@ViewBag.NumeroFactura</h3>

        foreach (PracticaIIICO.BD.sp_Retorna_Usuario_Result ModeloUSER in this.ViewBag.ListaUsuarios)
        {
            bool esIdUser = ModeloUSER.ID_Usuario == Posicion.ID_Usuario;
            if (esIdUser)
            {
                <p>Creado Por Usuario: <strong>@Posicion.ID_Usuario</strong>  Nombre: @ModeloUSER.Nombre_U @ModeloUSER.Apellido1_U </p>
            }
        }
        <p>Fecha Factura:@Posicion.Fecha_Factura.ToShortDateString()</p>

    }
}


<!---->
<table id="myTable" class="table table-hover table-bordered table-success table-striped">
    <thead>
        <tr>
            <th scope="col"># Detalle</th>
            <th scope="col">Producto</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Precio/U</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio/Cant</th>
            

        </tr>
    </thead>
    <tbody>
        @{
            foreach (PracticaIIICO.BD.sp_Retorna_FacturaID_Result PosicionDetalle in this.Model)
            {
                <tr>

                    <td>@PosicionDetalle.ID_DetalleEntrada</td>
                    <td>@PosicionDetalle.Nombre_PROD</td>
                    <td>@PosicionDetalle.Nombre_PROV</td>
                    <td>@PosicionDetalle.Precio_PROD</td>
                    <td>@PosicionDetalle.Cant_Adquirida_PROD</td>
                    <td>@PosicionDetalle.PrecioXCant</td>
                    
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class='text'>
                Base Imponible <br />
                <span>Descuento</span>
                <br>IVA 13%<br>
                <span class="bold">Total</span>
            </td>
            @{
                foreach (PracticaIIICO.BD.sp_Retorna_EntradaID_Result PosicionEntrada in this.ViewBag.ListaEntradas)
                {
                    <td class='text'>
                        <div class="base">@PosicionEntrada.Monto_Bruto</div>
                        <div class="descuento">@PosicionEntrada.Monto_Descuento</div>
                        <div class="iva">@PosicionEntrada.Monto_IVA</div>
                        <div class="total bold">@PosicionEntrada.Monto_Final</div>
                    </td>
                }
            }

        </tr>
    </tfoot>
</table>

<br />
<a href="~/Entradas/ListaEntradas" class="btn btn-primary">Ver Lista</a>


<!--Prueba Table Dinamica-->



