
@{
    ViewBag.Title = "NuevaEntrada";
}

<div class="formRegistrochz">

    <h2>Nueva Entrada</h2>

    <form id="frmRegistroEntrada" class="form-control" method="post">

        <div class="row">
            <div class="col">
                <label>Proveedor:</label>
                <select name="ID_Proveedor" id="ID_Proveedor" class="form-control">
                    @{

                        foreach (PracticaIIICO.BD.sp_Retorna_Proveedores_Result ModeloProv in this.ViewBag.ListaProveedores)
                        {
                            <option value="@ModeloProv.ID_Proveedor">@ModeloProv.Nombre_PROV </option>
                        }



                    }
                </select>
            </div>

            <div class="col">
                <label>Usuario:</label>
                <select name="ID_Usuario" id="ID_Usuario" class="form-control">
                    @{

                        foreach (PracticaIIICO.BD.sp_Retorna_UsuarioID_Result ModeloUSER in this.ViewBag.ListaUsuariosID)
                        {
                            <option value="@ModeloUSER.ID_Usuario">@ModeloUSER.Nombre_U @ModeloUSER.Apellido1_U</option>
                        }

                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Factura:</label>
                <input type="number" name="Numero_Factura" id="Numero_Factura" class="form-control" />
            </div>
            <div class="col">
                <label>Fecha Factura:</label>
                <input type="date" name="Fecha_Factura" id="Fecha_Factura" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Monto Bruto:</label>
                <input type="number" name="Monto_Bruto" id="Monto_Bruto" class="form-control" value="0" readonly />
            </div>
            <div class="col">
                <label>Descuento:</label>
                <input type="number" name="Monto_Descuento" id="Monto_Descuento" class="form-control"  value="0" readonly/>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Agregar" id="btnAgregar" class="btn btn-success" />
            <a href="~/Entradas/ListaEntradas" class="btn btn-primary">Ver Lista</a>
        </div>
    </form>
    <br />
</div>
