
@{
    ViewBag.Title = "ListaUsuarios";
}

<h2 style="text-align:center">Lista Usuarios</h2>

<a href="~/Home/Index" class="btn btn-success">Home</a>
<!---->
<table id="myTable" class="table table-hover table-bordered table-success table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipo Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            
            

            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (PracticaIIICO.BD.sp_Retorna_Usuario_Result PosicionModelo in this.Model)
            {
                <tr>
                    <td>@PosicionModelo.ID_Usuario</td>
                    <td>@PosicionModelo.ID_TipoUsuario</td>
                    <td>@PosicionModelo.Nombre_U</td>
                    <td>@PosicionModelo.Apellido1_U @PosicionModelo.Apellido2_U</td>

                    
                    
                    <td>
                        <a href="~/Usuarios/ModificaUsuario?id_User=@PosicionModelo.ID_Usuario" class="btn btn-warning">Modificar</a>
                        <a href="~/Usuarios/MostrarUsuario?id_User=@PosicionModelo.ID_Usuario" class="btn btn-success">Ver Datos</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<a href="~/Usuarios/NuevoUsuario" class="btn btn-success">Nuevo Dato</a>
<a href="~/TipoUsuarios/ListTypeUser" class="btn btn-primary">Tipos Usuarios</a>