@model PracticaIIICO.ViewModels.ViewUsuariosModel
@{
    ViewBag.Title = "ListaUsuarios";
}

<h2 style="text-align:center">Lista Usuarios</h2>

<a href="~/Home/Index" class="btn btn-success">Home</a>
<!---->
<input type="text" id="myInputUSER" onkeyup="myFunction()" placeholder="Ejemplo: George" title="Type in a name">
<!---->
<div id="alertVerde" class="alert alert-success" style="display:none;">

    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <div c id="mensajeAlertVerde">
        <!--Aqui va el mensaje, escrito desde JS-->
    </div>
</div>
<!---->
<!---->
<div id="alertRoja" class="alert alert-danger align-items-center"
     style="display: none; flex-direction: row;">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
         class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
         aria-label="Warning:">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </svg>
    <div id="mensajeAlertaRoja">
        <!--Mensaje de Erro Va Aqui-->
    </div>

</div>
<!---->
<table id="myTableUSER" class="table table-hover table-bordered table-success table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tipo Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>



            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (PracticaIIICO.BD.sp_Retorna_Usuario_Result PosicionModelo in Model.ListaUsuarios)
            {
                <tr>
                    <td>@PosicionModelo.ID_Usuario</td>
                    @{
                        foreach (PracticaIIICO.BD.sp_Retorna_TipoUsuario_Result ModeloTUSER in this.ViewBag.ListaTipoUsuarios)
                        {
                            bool esIdUser = ModeloTUSER.ID_TipoUsuario == PosicionModelo.ID_TipoUsuario;

                            if (esIdUser)
                            {
                                <td>@ModeloTUSER.Nombre_TipoUsuario</td>
                            }
                        }
                    }
                    <td>@PosicionModelo.Nombre_U</td>
                    <td>@PosicionModelo.Apellido1_U @PosicionModelo.Apellido2_U</td>



                    <td>
                        <a href="~/Usuarios/ModificaUsuario?id_User=@PosicionModelo.ID_Usuario" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                        <a href="~/Usuarios/MostrarUsuario?id_User=@PosicionModelo.ID_Usuario" class="btn btn-success"><i class="fas fa-eye"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<!--Paginador-->
@{ Html.RenderPartial("_paginador", Model);}
<!---->

<a href="~/Usuarios/NuevoUsuario" class="btn btn-success">Nuevo Dato</a>
<a href="~/TipoUsuarios/ListTypeUser" class="btn btn-primary">Tipos Usuarios</a>

@section scripts{
    <script src="~/Scripts/Busqueda/BusquedaUSER.js"></script>
}