@model PracticaIIICO.BD.sp_Retorna_UsuarioID_Result

@{
    ViewBag.Title = "ModificaUsuario";
}

<div class="formRegistrochz">

    <h2>Modifica Usuario</h2>


    @if (ViewBag.MessageUSER != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.MessageUSER
        </div>
    }

    <form id="frmModifcaU" class="form-control" method="post">

        <div class="row">
            <div class="col">
                <label>ID</label>
                <input type="number" name="ID_Usuario" id="ID_Usuario" class="form-control" value="@Model.ID_Usuario" readonly />
            </div>
            <div class="col">
                <label>Tipo Usuario:</label>
                <select name="ID_TipoUsuario" id="ID_TipoUsuario" class="form-control">
                    <option value="">Favor seleccione</option>
                    @{
                        foreach (PracticaIIICO.BD.sp_Retorna_TipoUsuario_Result ModeloTipoU in this.ViewBag.ListaTipoUsuarios)
                        {
                            bool esIdTipoUsuario = ModeloTipoU.ID_TipoUsuario == Model.ID_TipoUsuario;

                            @*
                                Incluir la propiedad selected para que la opción aparezca
                                seleccionada. Se compara la propiedad id_Provincia
                                del objeto del viewBag contra la propiedad id_Provincia
                                del modelo de la vista
                            *@
                            if (esIdTipoUsuario)
                            {
                                <option value="@ModeloTipoU.ID_TipoUsuario" selected>@ModeloTipoU.Nombre_TipoUsuario </option>
                            }
                            else
                            {
                                <option value="@ModeloTipoU.ID_TipoUsuario">@ModeloTipoU.Nombre_TipoUsuario </option>
                            }

                        }
                    }
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Nombre</label>
                <input type="text" name="Nombre_U" id="Nombre_U" class="form-control" value="@Model.Nombre_U" />
            </div>
            <div class="col">
                <label>1 Apellido</label>
                <input type="text" name="Apellido1_U" id="Apellido1_U" class="form-control" value="@Model.Apellido1_U" />
            </div>
            <div class="col">
                <label>2 Apellido</label>
                <input type="text" name="Apellido2_U" id="Apellido2_U" class="form-control" value="@Model.Apellido2_U" />
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Correo</label>
                <input type="email" name="Correo_U" id="Correo_U" class="form-control" value="@Model.Correo_U" />
            </div>
            <div class="col">
                <label>Telefono</label>
                <input type="text" name="Telefono_U" id="Telefono_U" class="form-control" value="@Model.Telefono_U" />
            </div>
        </div>

        <div class="form-group">
            <label>Direccion</label>
            <input type="text" name="Direccion_U" id="Direccion_U" class="form-control" value="@Model.Direccion_U" />
        </div>

        <hr />
        <label>Datos De Ingreso!</label>
        <div class="row">
            <div class="col">
                <label>Usuario De Ingreso:</label>
                <input type="text" name="Usuario_Ingreso" id="Usuario_Ingreso" class="form-control" value="@Model.Usuario_Ingreso" readonly />
            </div>
            <div class="col">
                <label>Estado:</label>
                <input type="text" name="Estado_U" id="Estado_U" class="form-control" value="@Model.Estado_U" readonly />
            </div>
        </div>
       
        <div class="row">
            <div class="col">
                <label>Clave:</label>
                <input type="password" name="Clave_U" id="Clave_U" class="form-control" value="@Model.Clave_U" />
            </div> 
            <div class="col">
                <label>Clave:</label>
                <input type="password" name="Clave_U1" id="Clave_U1" class="form-control" />
            </div>
        </div>
        
        <hr />

        <br />
        <div class="form-group">
            <input type="submit" value="Modificar" id="btnAgregar" class="btn btn-success" />
            @{
                if (Model.ID_TipoUsuario != 2)
                {

                    <a href="~/Usuarios/ListaUsuarios" class="btn btn-primary">Ver Lista</a>
                }
                else
                {
                    <a href="~/Home/Index" class="btn btn-primary">Pagina Inicial</a>
                }

                <p>Foto Perfil</p>
                <a href="~/SubirArchivo/IndexCargaUser?idUsuario=@Model.ID_Usuario" class="btn btn-success"><i class="fas fa-plus"></i></a>
            }
        </div>
    </form>
    <br />


</div>

