

@{
    ViewBag.Title = "MostrarUsuario";
}

@section css{
    <link href="~/Content/MiPerfil.css" rel="stylesheet" />
}
<h2>Informacion Usuario</h2>
<div id="cardChuz">
    <img src="~/Images/20170326_202353.jpg" id="avatarChuz">
    <div class="container">

        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>


        <h4><b>@Model.Nombre_U @Model.Apellido1_U @Model.Apellido2_U  </b></h4>
        @{
            foreach (PracticaIIICO.BD.sp_Retorna_TipoUsuario_Result ModeloTipoU in this.ViewBag.ListaTipoUsuarios)
            {
                bool esIdTipoUsuario = ModeloTipoU.ID_TipoUsuario == Model.ID_TipoUsuario;

                if (esIdTipoUsuario)
                {
                    <p><i class="fa fa-user" aria-hidden="true"></i> @ModeloTipoU.Nombre_TipoUsuario</p>
                }
            }
        }
        <p><i class="far fa-envelope"></i> @Model.Correo_U</p>
        <p><i class="fas fa-map-marker-alt"></i> @Model.Direccion_U</p>
        <p><i class="fa fa-phone" aria-hidden="true"></i> @Model.Telefono_U</p>
        <p><i class="fas fa-user-tag"></i> @Model.Usuario_Ingreso</p>
        

        <a href="~/Usuarios/ModificaUsuario?id_User=@Model.ID_Usuario" class="btn btn-warning"><i class="fas fa-edit">Editar</i></a>

        <br />
        <br />
    </div>
</div>
<br />
<a href="~/Usuarios/ModificaUsuario?id_User=@Model.ID_Usuario" class="btn btn-warning">Modificar</a>
<form id="frmListaU" method="post">

    <div class="form-group">
        <label>ID</label>
        <input type="number" name="ID_Usuario" id="ID_Usuario" class="form-control" value="@Model.ID_Usuario" readonly />
    </div>
    <div class="form-group">
        <label>Tipo Usuario:</label>
        @{
            foreach (PracticaIIICO.BD.sp_Retorna_TipoUsuario_Result ModeloTipoU in this.ViewBag.ListaTipoUsuarios)
            {
                bool esIdTipoUsuario = ModeloTipoU.ID_TipoUsuario == Model.ID_TipoUsuario;

                @*
                    Incluir la propiedad selected para que la opción aparezca
                    seleccionada. Se compara la propiedad id_Provincia
                    del objeto del viewBag contra la propiedad id_Provincia
                    del modelo de la vista
                *@
                if (esIdTipoUsuario)
                {

                    <input type="text" name="ID_TipoUsuario" id="ID_TipoUsuario" class="form-control" value="@ModeloTipoU.Nombre_TipoUsuario" readonly />
                }

            }
        }

    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="Nombre_U" id="Nombre_U" class="form-control" value="@Model.Nombre_U" readonly />
    </div>
    <div class="form-group">
        <label>1 Apellido</label>
        <input type="text" name="Apellido1_U" id="Apellido1_U" class="form-control" value="@Model.Apellido1_U" readonly />
    </div>
    <div class="form-group">
        <label>2 Apellido</label>
        <input type="text" name="Apellido2_U" id="Apellido2_U" class="form-control" value="@Model.Apellido2_U" readonly />
    </div>
    <div class="form-group">
        <label>Direccion</label>
        <input type="text" name="Direccion_U" id="Direccion_U" class="form-control" value="@Model.Direccion_U" readonly />
    </div>
    <div class="form-group">
        <label>Correo</label>
        <input type="email" name="Correo_U" id="Correo_U" class="form-control" value="@Model.Correo_U" readonly />
    </div>
    <div class="form-group">
        <label>Telefono</label>
        <input type="text" name="Telefono_U" id="Telefono_U" class="form-control" value="@Model.Telefono_U" readonly />
    </div>

    <hr />
    <label>Datos De Ingreso!</label>
    <div class="form-group">
        <label>Usuario De Ingreso:</label>
        <input type="text" name="Usuario_Ingreso" id="Usuario_Ingreso" class="form-control" value="@Model.Usuario_Ingreso" readonly />
    </div>
    <hr />
    <div>
        <label>Estado:</label>
        <input type="text" name="Estado_U" id="Estado_U" class="form-control" value="@Model.Estado_U" readonly />
        <label>Desde:@Model.Fecha_Creado.ToShortDateString()</label>
    </div>
    <br />
</form>
<br />

@{
    if (Model.ID_TipoUsuario != 2)
    {

        <a href="~/Usuarios/ListaUsuarios" class="btn btn-primary">Ver Lista</a>
    }
    else
    {
        <a href="~/Home/Index" class="btn btn-primary">Pagina Inicial</a>
    }


}